public/y1/Floki/n8n-batch-image-to-3d-workflow.json
{
    "name": "Batch Image to 3D Model Converter",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "batch-image-to-3d",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "batch-image-to-3d-webhook",
            "notes": "POST request with JSON body: { \"image_urls\": [\"url1\", \"url2\", ...], \"product_name\": \"Pink Armchair\" }"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Extract each image URL from the array\nconst imageUrls = $input.first().json.image_urls || [];\nconst productName = $input.first().json.product_name || 'Product';\n\nreturn imageUrls.map((url, index) => ({\n  json: {\n    image_url: url,\n    product_name: productName,\n    image_index: index + 1,\n    total_images: imageUrls.length\n  }\n}));"
            },
            "id": "split-images",
            "name": "Split Images",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.meshy.ai/v2/image-to-3d",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"image_url\": \"{{ $json.image_url }}\",\n  \"enable_pbr\": true,\n  \"ai_model\": \"meshy-4\",\n  \"topology\": \"quad\",\n  \"target_polycount\": 30000,\n  \"name\": \"{{ $json.product_name }}_{{ $json.image_index }}\"\n}",
                "options": {}
            },
            "id": "create-3d-task",
            "name": "Create 3D Task",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Collect all task IDs\nconst tasks = $input.all().map(item => ({\n  task_id: item.json.result,\n  product_name: item.json.product_name || 'Product',\n  image_index: item.json.image_index || 1\n}));\n\nreturn [{\n  json: {\n    tasks: tasks,\n    total_tasks: tasks.length,\n    created_at: new Date().toISOString()\n  }\n}];"
            },
            "id": "collect-tasks",
            "name": "Collect Task IDs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "amount": 60,
                "unit": "seconds"
            },
            "id": "wait-for-processing",
            "name": "Wait 60s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Split tasks back into individual items for checking\nconst tasksData = $input.first().json;\nconst tasks = tasksData.tasks || [];\n\nreturn tasks.map(task => ({\n  json: {\n    task_id: task.task_id,\n    product_name: task.product_name,\n    image_index: task.image_index\n  }\n}));"
            },
            "id": "split-for-check",
            "name": "Split for Check",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.meshy.ai/v2/image-to-3d/{{ $json.task_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "check-status",
            "name": "Check All Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1570,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Process all results and prepare response\nconst results = $input.all();\n\nconst succeeded = [];\nconst processing = [];\nconst failed = [];\n\nresults.forEach(item => {\n  const data = item.json;\n  const result = {\n    task_id: data.id,\n    status: data.status,\n    progress: data.progress || 0,\n    name: data.name\n  };\n  \n  if (data.status === 'SUCCEEDED') {\n    result.model_urls = data.model_urls;\n    result.thumbnail = data.thumbnail_url;\n    succeeded.push(result);\n  } else if (data.status === 'FAILED') {\n    result.error = data.task_error?.message || 'Unknown error';\n    failed.push(result);\n  } else {\n    processing.push(result);\n  }\n});\n\nconst allComplete = processing.length === 0;\n\nreturn [{\n  json: {\n    success: failed.length === 0,\n    all_complete: allComplete,\n    summary: {\n      total: results.length,\n      succeeded: succeeded.length,\n      processing: processing.length,\n      failed: failed.length\n    },\n    models: succeeded,\n    still_processing: processing,\n    errors: failed,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "aggregate-results",
            "name": "Aggregate Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1790,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json, null, 2) }}",
                "options": {}
            },
            "id": "send-response",
            "name": "Send Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2010,
                300
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "*/5 * * * *"
                        }
                    ]
                }
            },
            "id": "scheduled-check",
            "name": "Check Every 5 Min",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                250,
                550
            ],
            "notes": "Alternative: Schedule-based checking for long-running tasks"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://api.meshy.ai/v2/image-to-3d?sortBy=-created_at&limit=10",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "list-recent-tasks",
            "name": "List Recent Tasks",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                470,
                550
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-pending",
                            "leftValue": "={{ $json.results.filter(r => r.status === 'PENDING' || r.status === 'IN_PROGRESS').length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "gt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "has-pending-tasks",
            "name": "Has Pending?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                690,
                550
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Filter only completed tasks that haven't been notified\nconst results = $input.first().json.results || [];\n\nconst completed = results.filter(r => \n  r.status === 'SUCCEEDED' && \n  r.model_urls && \n  r.model_urls.glb\n);\n\nreturn completed.map(task => ({\n  json: {\n    task_id: task.id,\n    name: task.name,\n    status: task.status,\n    model_urls: task.model_urls,\n    thumbnail: task.thumbnail_url,\n    created_at: task.created_at\n  }\n}));"
            },
            "id": "filter-completed",
            "name": "Filter Completed",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                550
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Split Images",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Images": {
            "main": [
                [
                    {
                        "node": "Create 3D Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create 3D Task": {
            "main": [
                [
                    {
                        "node": "Collect Task IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Task IDs": {
            "main": [
                [
                    {
                        "node": "Wait 60s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 60s": {
            "main": [
                [
                    {
                        "node": "Split for Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split for Check": {
            "main": [
                [
                    {
                        "node": "Check All Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check All Status": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Send Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Every 5 Min": {
            "main": [
                [
                    {
                        "node": "List Recent Tasks",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "List Recent Tasks": {
            "main": [
                [
                    {
                        "node": "Has Pending?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Pending?": {
            "main": [
                [
                    {
                        "node": "Filter Completed",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "3D",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        },
        {
            "name": "Batch Processing",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-05T10:00:00.000Z",
    "versionId": "1"
}