public/y1/Floki/n8n-imgbb-to-3d-workflow.json
{
    "name": "ImgBB to 3D Model - Auto URL Extractor",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "imgbb-to-3d",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "imgbb-to-3d",
            "notes": "POST with: { \"page_urls\": [\"https://ibb.co/xxx\", ...], \"product_name\": \"Floki Chair\" }"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Split page URLs into individual items\nconst pageUrls = $input.first().json.page_urls || [];\nconst productName = $input.first().json.product_name || 'Product';\n\nreturn pageUrls.map((url, index) => ({\n  json: {\n    page_url: url,\n    product_name: productName,\n    image_index: index + 1\n  }\n}));"
            },
            "id": "split-urls",
            "name": "Split URLs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $json.page_url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "fetch-page",
            "name": "Fetch ImgBB Page",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "// Extract direct image URL from ImgBB page HTML\nconst html = $json.data || '';\nconst pageUrl = $('Split URLs').item.json.page_url;\nconst productName = $('Split URLs').item.json.product_name;\nconst imageIndex = $('Split URLs').item.json.image_index;\n\n// Multiple regex patterns to find the direct image URL\nlet directUrl = null;\n\n// Pattern 1: og:image meta tag\nconst ogMatch = html.match(/property=\"og:image\"\\s+content=\"([^\"]+)\"/i);\nif (ogMatch) {\n  directUrl = ogMatch[1];\n}\n\n// Pattern 2: twitter:image meta tag\nif (!directUrl) {\n  const twitterMatch = html.match(/name=\"twitter:image\"\\s+content=\"([^\"]+)\"/i);\n  if (twitterMatch) {\n    directUrl = twitterMatch[1];\n  }\n}\n\n// Pattern 3: image-viewer src\nif (!directUrl) {\n  const viewerMatch = html.match(/class=\"[^\"]*image-viewer[^\"]*\"[^>]*src=\"([^\"]+)\"/i);\n  if (viewerMatch) {\n    directUrl = viewerMatch[1];\n  }\n}\n\n// Pattern 4: i.ibb.co URL anywhere in page\nif (!directUrl) {\n  const ibbMatch = html.match(/https:\\/\\/i\\.ibb\\.co\\/[a-zA-Z0-9]+\\/[^\"'\\s]+\\.(jpg|jpeg|png|webp)/i);\n  if (ibbMatch) {\n    directUrl = ibbMatch[0];\n  }\n}\n\n// Pattern 5: data-src attribute\nif (!directUrl) {\n  const dataSrcMatch = html.match(/data-src=\"(https:\\/\\/i\\.ibb\\.co[^\"]+)\"/i);\n  if (dataSrcMatch) {\n    directUrl = dataSrcMatch[1];\n  }\n}\n\nreturn {\n  json: {\n    page_url: pageUrl,\n    direct_url: directUrl,\n    product_name: productName,\n    image_index: imageIndex,\n    found: !!directUrl\n  }\n};"
            },
            "id": "extract-direct-url",
            "name": "Extract Direct URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-found",
                            "leftValue": "={{ $json.found }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-url-found",
            "name": "URL Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.meshy.ai/v2/image-to-3d",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"image_url\": \"{{ $json.direct_url }}\",\n  \"enable_pbr\": true,\n  \"ai_model\": \"meshy-4\",\n  \"topology\": \"quad\",\n  \"target_polycount\": 30000,\n  \"name\": \"{{ $json.product_name }}_{{ $json.image_index }}\"\n}",
                "options": {}
            },
            "id": "create-3d-task",
            "name": "Create 3D Task",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1350,
                200
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Collect all results\nconst items = $input.all();\n\nconst tasks = items.map(item => ({\n  task_id: item.json.result,\n  page_url: $('Extract Direct URL').item.json.page_url,\n  direct_url: $('Extract Direct URL').item.json.direct_url,\n  product_name: $('Extract Direct URL').item.json.product_name,\n  image_index: $('Extract Direct URL').item.json.image_index\n}));\n\nreturn [{\n  json: {\n    success: true,\n    message: `Created ${tasks.length} 3D generation tasks`,\n    tasks: tasks,\n    check_status_after: \"60 seconds\",\n    status_endpoint: \"https://api.meshy.ai/v2/image-to-3d/{task_id}\"\n  }\n}];"
            },
            "id": "collect-results",
            "name": "Collect Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1570,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json, null, 2) }}",
                "options": {}
            },
            "id": "success-response",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1790,
                200
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "// Collect failed extractions\nconst items = $input.all();\n\nreturn [{\n  json: {\n    success: false,\n    message: \"Could not extract direct URL from these pages\",\n    failed_urls: items.map(item => item.json.page_url)\n  }\n}];"
            },
            "id": "collect-errors",
            "name": "Collect Errors",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json, null, 2) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "error-response",
            "name": "Error Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1570,
                400
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Split URLs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split URLs": {
            "main": [
                [
                    {
                        "node": "Fetch ImgBB Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch ImgBB Page": {
            "main": [
                [
                    {
                        "node": "Extract Direct URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Direct URL": {
            "main": [
                [
                    {
                        "node": "URL Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "URL Found?": {
            "main": [
                [
                    {
                        "node": "Create 3D Task",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Collect Errors",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create 3D Task": {
            "main": [
                [
                    {
                        "node": "Collect Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Results": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Errors": {
            "main": [
                [
                    {
                        "node": "Error Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "3D",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        },
        {
            "name": "ImgBB",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        },
        {
            "name": "URL Extraction",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-05T10:00:00.000Z",
    "versionId": "1"
}