public/y1/Floki/n8n-smart-object-to-3d-workflow.json
{
    "name": "Smart Object to 3D - Select & Convert",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "smart-object-to-3d",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "smart-object-to-3d",
            "notes": "POST with: { \"image_url\": \"...\", \"object_prompt\": \"pink armchair\", \"remove_background\": true }"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/predictions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.REPLICATE_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"version\": \"ee97acd79778e9e5e3a185c2510f95a68cc8ed65f0470e74b8010c4f2f4a928c\",\n  \"input\": {\n    \"image\": \"{{ $json.image_url }}\",\n    \"text_prompt\": \"{{ $json.object_prompt || 'main object' }}\",\n    \"box_threshold\": 0.3,\n    \"text_threshold\": 0.25\n  }\n}",
                "options": {}
            },
            "id": "detect-object",
            "name": "Detect Object (Grounding DINO)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                470,
                300
            ],
            "notes": "Uses Grounding DINO to find the object based on text prompt"
        },
        {
            "parameters": {
                "amount": 10,
                "unit": "seconds"
            },
            "id": "wait-detection",
            "name": "Wait Detection",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $('Detect Object (Grounding DINO)').item.json.urls.get }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.REPLICATE_API_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-detection-result",
            "name": "Get Detection Result",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.replicate.com/v1/predictions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.REPLICATE_API_TOKEN }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"version\": \"fb8af171cfa1616ddcf1242c093f9c46bcada5ad4cf6f2fbe8b81b330ec5c003\",\n  \"input\": {\n    \"image\": \"{{ $('Webhook Trigger').item.json.image_url }}\",\n    \"prompt\": \"{{ $('Webhook Trigger').item.json.object_prompt || 'main object' }}\"\n  }\n}",
                "options": {}
            },
            "id": "segment-object",
            "name": "Segment Object (SAM)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1130,
                300
            ],
            "notes": "Uses Segment Anything Model (SAM) to cut out the object"
        },
        {
            "parameters": {
                "amount": 15,
                "unit": "seconds"
            },
            "id": "wait-segmentation",
            "name": "Wait Segmentation",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $('Segment Object (SAM)').item.json.urls.get }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.REPLICATE_API_TOKEN }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-segmentation-result",
            "name": "Get Segmentation Result",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1570,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-status",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "succeeded",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-segmentation-ready",
            "name": "Segmentation Ready?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1790,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.meshy.ai/v2/image-to-3d",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"image_url\": \"{{ $json.output }}\",\n  \"enable_pbr\": true,\n  \"ai_model\": \"meshy-4\",\n  \"topology\": \"quad\",\n  \"target_polycount\": 30000,\n  \"name\": \"{{ $('Webhook Trigger').item.json.object_prompt || 'segmented_object' }}\"\n}",
                "options": {}
            },
            "id": "create-3d-model",
            "name": "Create 3D Model",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2010,
                200
            ],
            "notes": "Sends the segmented image (with transparent background) to Meshy.ai"
        },
        {
            "parameters": {
                "amount": 45,
                "unit": "seconds"
            },
            "id": "wait-3d-generation",
            "name": "Wait 3D Generation",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2230,
                200
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.meshy.ai/v2/image-to-3d/{{ $('Create 3D Model').item.json.result }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "check-3d-status",
            "name": "Check 3D Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2450,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-3d-ready",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "SUCCEEDED",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "is-3d-ready",
            "name": "3D Ready?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                2670,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"3D model created from selected object!\",\n  \"workflow_steps\": {\n    \"1_detection\": \"Object detected using Grounding DINO\",\n    \"2_segmentation\": \"Object segmented using SAM\",\n    \"3_conversion\": \"3D model created using Meshy.ai\"\n  },\n  \"original_image\": \"{{ $('Webhook Trigger').item.json.image_url }}\",\n  \"object_prompt\": \"{{ $('Webhook Trigger').item.json.object_prompt }}\",\n  \"segmented_image\": \"{{ $('Get Segmentation Result').item.json.output }}\",\n  \"task_id\": \"{{ $('Create 3D Model').item.json.result }}\",\n  \"model_urls\": {\n    \"glb\": \"{{ $json.model_urls.glb }}\",\n    \"fbx\": \"{{ $json.model_urls.fbx }}\",\n    \"usdz\": \"{{ $json.model_urls.usdz }}\",\n    \"obj\": \"{{ $json.model_urls.obj }}\"\n  },\n  \"thumbnail\": \"{{ $json.thumbnail_url }}\"\n}",
                "options": {}
            },
            "id": "success-response",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2890,
                100
            ]
        },
        {
            "parameters": {
                "amount": 20,
                "unit": "seconds"
            },
            "id": "wait-more-3d",
            "name": "Wait More",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2670,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"error\": \"Segmentation failed or timed out\",\n  \"status\": \"{{ $json.status }}\",\n  \"details\": {{ JSON.stringify($json) }}\n}",
                "options": {
                    "responseCode": 500
                }
            },
            "id": "segmentation-error",
            "name": "Segmentation Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2010,
                400
            ]
        },
        {
            "parameters": {
                "amount": 10,
                "unit": "seconds"
            },
            "id": "wait-retry-segmentation",
            "name": "Retry Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1790,
                500
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Detect Object (Grounding DINO)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detect Object (Grounding DINO)": {
            "main": [
                [
                    {
                        "node": "Wait Detection",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait Detection": {
            "main": [
                [
                    {
                        "node": "Get Detection Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Detection Result": {
            "main": [
                [
                    {
                        "node": "Segment Object (SAM)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Segment Object (SAM)": {
            "main": [
                [
                    {
                        "node": "Wait Segmentation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait Segmentation": {
            "main": [
                [
                    {
                        "node": "Get Segmentation Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Segmentation Result": {
            "main": [
                [
                    {
                        "node": "Segmentation Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Segmentation Ready?": {
            "main": [
                [
                    {
                        "node": "Create 3D Model",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Retry Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Retry Wait": {
            "main": [
                [
                    {
                        "node": "Get Segmentation Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create 3D Model": {
            "main": [
                [
                    {
                        "node": "Wait 3D Generation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 3D Generation": {
            "main": [
                [
                    {
                        "node": "Check 3D Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check 3D Status": {
            "main": [
                [
                    {
                        "node": "3D Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3D Ready?": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait More",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait More": {
            "main": [
                [
                    {
                        "node": "Check 3D Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "3D",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        },
        {
            "name": "AI Segmentation",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        },
        {
            "name": "Object Detection",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-05T10:00:00.000Z",
    "versionId": "1"
}