y1/Floki/n8n-image-to-3d-workflow.json
{
    "name": "Image to 3D Model Converter",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "image-to-3d",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "image-to-3d-webhook"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.meshy.ai/v2/image-to-3d",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "image_url",
                            "value": "={{ $json.image_url }}"
                        },
                        {
                            "name": "enable_pbr",
                            "value": "true"
                        },
                        {
                            "name": "ai_model",
                            "value": "meshy-4"
                        },
                        {
                            "name": "topology",
                            "value": "quad"
                        },
                        {
                            "name": "target_polycount",
                            "value": "30000"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-3d-task",
            "name": "Create 3D Task",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "amount": 30,
                "unit": "seconds"
            },
            "id": "wait-for-processing",
            "name": "Wait 30s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.meshy.ai/v2/image-to-3d/{{ $('Create 3D Task').item.json.result }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.MESHY_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "check-task-status",
            "name": "Check Task Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-succeeded",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "SUCCEEDED",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-if-ready",
            "name": "Is Ready?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "amount": 15,
                "unit": "seconds"
            },
            "id": "wait-more",
            "name": "Wait More",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1130,
                500
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $('Check Task Status').item.json.model_urls.glb }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file"
                        }
                    }
                }
            },
            "id": "download-glb",
            "name": "Download GLB Model",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1350,
                200
            ]
        },
        {
            "parameters": {
                "operation": "write",
                "fileName": "=/output/{{ $('Create 3D Task').item.json.result }}.glb",
                "options": {}
            },
            "id": "save-model",
            "name": "Save 3D Model",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                1570,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"3D model created successfully!\",\n  \"task_id\": \"{{ $('Create 3D Task').item.json.result }}\",\n  \"model_urls\": {\n    \"glb\": \"{{ $('Check Task Status').item.json.model_urls.glb }}\",\n    \"fbx\": \"{{ $('Check Task Status').item.json.model_urls.fbx }}\",\n    \"usdz\": \"{{ $('Check Task Status').item.json.model_urls.usdz }}\",\n    \"obj\": \"{{ $('Check Task Status').item.json.model_urls.obj }}\"\n  },\n  \"thumbnail\": \"{{ $('Check Task Status').item.json.thumbnail_url }}\"\n}",
                "options": {}
            },
            "id": "success-response",
            "name": "Success Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1790,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"message\": \"3D model is still processing. Please check back later.\",\n  \"task_id\": \"{{ $('Create 3D Task').item.json.result }}\",\n  \"status\": \"{{ $('Check Task Status').item.json.status }}\",\n  \"progress\": \"{{ $('Check Task Status').item.json.progress }}\"\n}",
                "options": {
                    "responseCode": 202
                }
            },
            "id": "processing-response",
            "name": "Processing Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1350,
                500
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-failed",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "FAILED",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-if-failed",
            "name": "Is Failed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1130,
                700
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"message\": \"3D model generation failed.\",\n  \"task_id\": \"{{ $('Create 3D Task').item.json.result }}\",\n  \"error\": \"{{ $('Check Task Status').item.json.task_error.message }}\"\n}",
                "options": {
                    "responseCode": 500
                }
            },
            "id": "error-response",
            "name": "Error Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1350,
                700
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Create 3D Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create 3D Task": {
            "main": [
                [
                    {
                        "node": "Wait 30s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 30s": {
            "main": [
                [
                    {
                        "node": "Check Task Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Task Status": {
            "main": [
                [
                    {
                        "node": "Is Ready?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Ready?": {
            "main": [
                [
                    {
                        "node": "Download GLB Model",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is Failed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Failed?": {
            "main": [
                [
                    {
                        "node": "Error Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait More",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait More": {
            "main": [
                [
                    {
                        "node": "Check Task Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download GLB Model": {
            "main": [
                [
                    {
                        "node": "Save 3D Model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save 3D Model": {
            "main": [
                [
                    {
                        "node": "Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "3D",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        },
        {
            "name": "Image Processing",
            "createdAt": "2026-01-05T10:00:00.000Z",
            "updatedAt": "2026-01-05T10:00:00.000Z"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2026-01-05T10:00:00.000Z",
    "versionId": "1"
}